@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    background: #edf4ff;
  }
}
.nav-links:hover {
  color: yellow;
}
#mobile-input::-webkit-inner-spin-button {
  display: none;
}
